# Git이 무시할 파일 및 폴더 목록
__pycache__/

.env
venv/
env/

db.sqlite3
/media/
/static/

# 기본적으로 모든 파일과 폴더를 무시합니다.
*

# 다음 파일 및 폴더는 무시하지 않고 포함시킵니다.
!.gitignore
!models.py
!app.py
!settings.py
!urls.py
!wsgi.py
!manage.py

!shop/
!cart/
!review/
!qna/
!users/

!shop/views.py
!shop/urls.py
!shop/migrations/
!shop/models.py
!shop/admin.py
!shop/forms.py

!cart/views.py
!cart/urls.py
!cart/migrations/
!cart/models.py
!cart/admin.py
!cart/forms.py

!review/views.py
!review/urls.py
!review/migrations/
!review/models.py
!review/admin.py
!review/forms.py

!qna/views.py
!qna/urls.py
!qna/migrations
!qna/models.py
!qna/admin.py
!qna/forms.py

!users/views.py
!users/urls.py
!users/migrations
!users/models.py
!users/admin.py
!users/forms.py