uploads/
env/

db.sqlite3

# Python/venv
__pycache__/
*.pyc
venv/
env/
.env

# DB/미디어/정적파일
db.sqlite3
mediafiles/
uploads/
static/

# 프론트엔드(예: React, Vue, 빌드산출물 등)
*.js
*.jsx
*.ts
*.tsx
*.css
*.map
node_modules/
build/
dist/

# IDE/OS
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db
