{% extends "shop/base.html" %}
{% load static %}
    {% block page_title %}
        Sign Up
    {% endblock page_title %}
    {% block search-bar %}
    {% endblock search-bar %}
    {% block content %}
        <div class="container">
            <form method="post" action="{% url "users:signup" %}">
                {% csrf_token %}
                
                {# Django Form Fields #}
                {{ form.name.label_tag }} {{ form.name }}
                {{ form.email.label_tag }} {{ form.email }}
                {{ form.tel.label_tag }} {{ form.tel }}
                {{ form.birthday.label_tag }} {{ form.birthday }}
                {{ form.password.label_tag }} {{ form.password }}
                {{ form.password1.label_tag }} {{ form.password1 }}

                {# Address Fields with Daum Postcode API #}
                <hr>
                <h5>주소 정보</h5>
                <div>
                    {{ form.postcode.label_tag }} {{ form.postcode }}
                    <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                </div>
                <div>
                    {{ form.address.label_tag }} {{ form.address }}<br>
                </div>
                <div>
                    {{ form.detail_address.label_tag }} {{ form.detail_address }}<br>
                </div>
                <div>
                    {{ form.extra_address.label_tag }} {{ form.extra_address }}
                </div>
                <hr>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="wrong_text" style="display: block">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="wrong_text" style="display: block">{{ field.label }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}

                <button>Sign Up</button>
            </form>
        </div>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById('id_postcode').value = data.zonecode;
                    document.getElementById("id_address").value = data.userSelectedType === 'R' ? data.roadAddress : data.jibunAddress;
                    
                    var extraAddr = '';
                    if(data.userSelectedType === 'R' && data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("id_extra_address").value = extraAddr;
                    document.getElementById("id_detail_address").focus();
                }
            }).open();
        }
        </script>
        <style>
            .wrong_text{font-size:1rem;color:#f44e38;letter-spacing:-.2px;font-weight:300;margin:8px 0 2px;line-height:1em;}
        </style>
    {% endblock content %}