<header>
    <div class="header-container">
    {% load i18n %}
    <a href="{% url "core:home" %}">30cm</a>
    {% block search-bar %}
    {% load static %}
    <form method="get" action="{% url 'shop:search' %}" class="search-form">
        <input type="text" name="name" placeholder="Search" class="search-input">
        <button type="submit" class="search-button">
            <img src="{% static 'images/search-icon.png' %}" alt="Search" class="search-icon">
        </button>
    </form>
    
    {% endblock search-bar %}
    <ul class="right-aligned-menu">
    {% if user.is_authenticated %}
    <div>
        {{ user.name }} 님으로 로그인 성공</div>
        <li><a href="{% url "users:logout" %}" style="text-decoration: none;">Log out</a></li>
        <li><a href="{% url "users:mypage" %}" style="text-decoration: none;">My page</a></li>
        <li><a href="{% url "cart:cart_detail" %}" style="text-decoration: none;">장바구니</a></li>
    {% else %}
        <li><a href="{% url "users:login" %}" style="text-decoration: none;">Log in</a></li>
        <li><a href="{% url "users:signup" %}" style="text-decoration: none;">Sign up</a></li>
    {% endif %}
        
    </ul>
</div>
           
    </div>
</header>
